* {
  box-sizing: border-box;
}

html {
  text-size-adjust: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #000;
  background: radial-gradient(#000b66, #000);
  color: #fff;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

button {
  font-size: 22px;
}

#main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border: 1px solid #0037d6;
  background-color: #000b66;
  border-radius: 4px;
  color: #fff;
  padding: 10px;
  margin: 0;
  cursor: pointer;
}

button:hover {
  background-color: transparent;
  box-shadow: 0 0 5px 5px #0037d6;
  z-index: 1;
}

.calculator {
  display: grid;
  grid-template-columns: 4.5rem 4.5rem 4.5rem 4.5rem;
  grid-template-rows: 4.5rem 4.5rem 4.5rem 4.5rem 4.5rem 4.5rem;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

#display {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 1rem;
  border: 1px solid #0037d6;
  border-radius: 4px;
  background-color: #000;
  text-align: right;
  font-size: 24px;
}

#clear,
#zero {
  grid-column-start: 1;
  grid-column-end: 3;
}

#clear {
  border-color: #AD0032;
  background-color: #570019;
  background-color: rgba(87, 0, 25, .5);
}

#equals {
  grid-row-start: 5;
  grid-row-end: 7;
  grid-column-start: 4;
  border-color: #6eb500;
  background-color: #447100;
  background-color: rgba(68, 113, 0, .5);
}

#add,
#subtract,
#multiply,
#divide {
  background-color: transparent;
  background-color: rgba(0, 0, 0, .2);
}

#footer {
  margin-top: 1rem;
  font-size: .75rem;
  color: #6b91ff;
}

#footer a {
  color: #6b91ff;
}
